.full-width-div{
  background: rgba(192,192,192,0.5);
  height: 100%;
  width:100%;
  position: fixed;
  z-index:900;
  left:0;
  top:0;
}
input.ng-invalid, select.ng-invalid{
  border: solid 2px red;
}
